* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formSection {
    width: 100%;
    height: auto;
    background-color: #292930;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    line-height: 2rem;
    color: #fff;
}

.info h1 {
    font-size: 3em;
    margin: 1rem;
}

.info p {
    font-size: 1.5rem;
}

.form {
    width: 90%;
    margin: 0 auto;
}

.sr-only {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    color: rgba(239,241,246,.192);
}

option, input[type=date] {
    color: #8a90a2;
}
 
input, select, textarea {
    background-color: transparent;
    border: 1px solid rgba(239,241,246,.192);
    border-radius: 0.2rem;
    padding-top: 2rem;
    margin: 0.7rem;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}



.date-gender {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.date-gender div {
    border: 1px solid rgba(239,241,246,.192);
    padding: 0.8rem;
}

textarea {
    height: 11.25rem;
}

.btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #ffd109;
    border: none;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #007aff;
    color: #fff;
}