/* global settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formSection {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: #292930;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    line-height: 2rem;
    color: #fff;
}

.info h1 {
    font-size: 2.5em;
    margin: 1rem;
}

.info p {
    font-size: 1.2rem;
    padding: 0.5rem;
}

/* mobile and tablet screen settings */
.form {
    width: 90%;
    margin: 0 auto;
}

/* hide labels but make available only for screen readers */
.sr-only {
    position: absolute;
    left: -10000;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    color: rgba(239,241,246,.192);
}

option, input[type=date] {
    color: #8a90a2;
}
 
input, select, textarea {
    background-color: transparent;
    border: 1px solid rgba(239,241,246,.192);
    border-radius: 0.2rem;
    padding-top: 2rem;
    margin: 0.7rem;
}

/* increase the width of input field to cover total width of its container */
input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

/* increase placeholder font size */
input::placeholder, textarea::placeholder {
    font-size: larger;
}

/* date of birth and gender section styling */
.date-gender {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.date-gender div {
    border: 1px solid rgba(239,241,246,.192);
    padding: 0.8rem;
}

/* increase height of textarea */
textarea {
    height: 12rem;
}

/* submit button styling */
.btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #ffd109;
    border: none;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #007aff;
    color: #fff;
}

/* desktop settings */
@media (min-width:900px) {
    .form {  /*change form width to 50% of the screen and center */
        width: 50%;
        margin: 0 auto;
    }
/* increase input field padding on */
    input[type=text], input[type=password], select, textarea {
        width: 100%;
        padding: 1.5rem;
        box-sizing: border-box;
    }
}